<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>SIMPLE TODO LISTS</h1>

    <div id="projects">
      <%= render @projects %>
    </div>

    <br>

    <%= form_for :project, url: projects_path, :remote => true do |f| %>
        <%= f.text_area :content, :cols => "20", :rows => "4" %>
        <%= f.submit 'Add TODO List' %>
    <% end %>
  </div>
</div>